*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
header{
    padding: 0.5em;
    height: 80px;
    width: 100vw;
    position: relative;
    background-color:white;
    float: none;
}
.title-page{
    float: left;
    left: 9%;
    top: 1vh;
    font-size: 1.2em;
}
  
.logo{
    float: left;
    left: 2%;
    top: 1vh;
}
.container{
    width: 60vw;
    height: 80vh;
    margin: auto;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 3%;
    padding-left: 5%;
    margin-top: 5px;
    margin-bottom: 2vh;
}
.nav-container{
    margin-bottom: 20px;
    width: 60vw;
    
    margin: auto;
    margin-top: 10vh;
    background-color: white;      
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.nav{
    
}
.button-1{
    border-style: hidden;
    background-color: rgb(45, 180, 253);
    color: white;
    padding: 0.7em;
    border-radius: 5px;
    border: solid 1px rgb(45, 180, 253);
}
.button-2{
    background-color: white;
    color: rgb(196, 196, 196);
    padding: 0.7em;
    border-radius: 5px;
    border: solid 1px rgb(196, 196, 196);

}

.d-arrow{
    font-size: 15px;
}
.done{
    color: green;
}
.not-done{
    color: rgb(222, 34, 34);
}
ul{
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 3em;
}
li{
    margin-bottom: 0.6em;
}
.first-element{
    margin-top: 0.5em;
}
.flag-1{
    background-color: aqua;
    border: solid 3px aqua ;
}

.flag-2{
    background-color: rgb(104, 232, 65);
    border: solid 3px rgb(104, 232, 65) ;
}

.flag-3{
    background-color: rgb(207, 43, 219);
    border: solid 3px rgb(207, 43, 219);
}

.flag-1, .flag-2, .flag-3{
    border-radius: 20px;
    color: white;
    font-size: smaller;
}
